# Eclipse metadata
/.settings/
/.classpath
/.project

# Maven output
/target/

# VSCode
.vscode/settings.json

# Docker logs for CI
docker/all.log

# Built project
mbep-cdr-yamcs-0.0.1-CDR/
scripts/satll-simulator/build/
